################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/.vs/slnx.sqlite
/.vs/AutoExpresso/FileContentIndex/28ae2a48-9ac3-4556-a4ef-a8141cdf0909.vsidx
